.acc {
    margin: auto;
    position: relative;
    padding: 10px;
    width: 75%;
}

.accordion {
    margin: auto;
    width: 75%;
    padding-top: 1000px;
    display: block;
}

.btn {
    font-size: 25px;
    color:green;
    font-weight:bold;
}
.card-body {
    font-size: 20px;
}

.title {
    margin: auto;
    position: relative;
    margin-top: 30px;
    text-align: center;
    font-size: 70px;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 5px;
    text-shadow: 2px 2px 4px grey;

}
