.about {
    background-color: darkcyan;
    margin: 30px;
    margin-top: 150px;
    margin-left: 250px;
    margin-right: 250px;
    height: 12em;
}

.card-title {
    font-size: 30px;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-text {
    font-size: 18px;
}

.card-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img {
    border-radius: 25px 0px 0px 25px;
}