.navbar {
    top: 0;
    position: fixed;
    margin: auto;
    width: 100%;
    margin-bottom: 75px;
    z-index: 1;
}
.navbar-nav {
    display: inline-block;
    margin: auto;
}

.nav-item {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    border: gold;
}

.container-fluid {
    text-align: center;
    display: inline;
    font-size: 30px;
    margin: auto;
    padding: auto;

}